.location-info {
  padding: 0 30px;
}
.Admin .location-info-search {
  display: flex;
  gap: 10px;
}
.Admin .location-info-search button {
  height: 30px;
  padding: 5px 10px;
  border: none;
  background-color: #f35221;
  color: white;
}
.Admin .location-info .location-image {
  height: 100px;
  width: 100px;
}
.Admin .location-info h2 {
  margin-bottom: 10px;
}
.Admin .location-info-search {
  margin-bottom: 10px;
}

.Admin .location-info .image-change {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
:where(.css-dev-only-do-not-override-pr0fja).ant-input-group-wrapper {
  width: 250px;
}
.Admin .location-info .image-change .image-icon {
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.Admin .location-info .image-change .image-icon button {
  border: none;
  outline: none;
  background: white;
}
.Admin .location-info .location-judge {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.Admin .location-info .location-judge i {
  color: rgb(235, 142, 43);
  font-size: 15px;
}
.Admin .location-info .btn-detail {
  margin-top: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  background: rgb(246, 224, 224);
  padding: 5px 30px;
  border: none;
  color: black;
  width: 200px;
}

.ant-modal-body .location-add-room {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
}

.ant-modal-body .input-range {
  width: 100px;
}
.ant-modal-body .location-add-room-title {
  margin: 10px 0;
}

.ant-modal-content .image-title {
  color: black;
  margin: 10px 0;
}

.ant-modal-content .ant-upload.ant-upload-select .atn-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-modal-content .ant-upload-list-item-container {
  margin-bottom: 10px;
}

.ant-modal-body input {
  outline: none;
}
.ant-modal-body .btn-cancel {
  padding: 10px;
}
.ant-modal-body .btn-detail {
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
}
.ant-btn-default {
  background-color: #ffffff;
  border-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.88);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-modal-content .edit-room {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
}
.ant-modal-content .edit-room .input-range {
  width: 100px;
}
.ant-modal-body div {
  margin: 0;
}
.ant-btn-icon {
  margin: 0px;
}
.ant-modal-body .edit-room-title {
}
.ant-modal-body .switch-change {
  margin-bottom: 30px;
}

.location-info {
  padding: 0 30px;
}

.Admin .location-info .location-image {
  height: 100px;
  width: 100px;
}

.Admin .location-info .image-change {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.Admin .location-info .image-change .image-icon {
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.Admin .location-info .image-change .image-icon button {
  border: none;
  outline: none;
  background: white;
}
.Admin .location-info .room-list-judge {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.Admin .location-info .location-judge i {
  color: rgb(235, 142, 43);
  font-size: 15px;
}

.ant-modal-content .image-title {
  color: black;
}

.ant-modal-content .ant-upload.ant-upload-select .atn-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-modal-body input {
  outline: none;
}
.ant-modal-body .btn-cancel {
  padding: 10px;
}
.ant-modal-body .btn-detail {
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
}
.ant-btn-default {
  background-color: #ffffff;
  border-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.88);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-room-input {
  margin: 10px 0;
}
.ant-input-wrapper {
  width: 200px;
}

.Admin .location-info h2 {
  text-align: center;
}
.Admin .location-info input {
  width: 200px;
}
.Admin .ant-input-wrapper {
  width: 200px;
}
.Admin .location-info button {
  background: red;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0;
}

.Admin .location-info .ant-btn {
  border-radius: 0;
  color: white !important ;
}
.Admin .location-info .ant-btn span {
  opacity: 1;
  color: white !important;
}
.Admin .location-info .ant-modal-body div {
  margin: 0 !important;
}
.ant-modal-body input {
  width: 100%;
  padding: 5px 10px;
}
.ant-modal-body .list-user-title {
  margin: 10px 0;
}

.ant-modal-body select {
  width: 100%;
  padding: 5px 10px;
}
.ant-modal-body .birth-date {
  width: 180px;
}
.ant-modal-content .handle {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.ant-modal-content .handle button {
  padding: 5px 10px;
}
.ant-modal-content .handle .btn-edit {
  background: rgb(87, 87, 245);
  border: none;
  color: white;
  cursor: pointer;
}
.ant-modal-footer {
  display: none;
}
.ant-modal-footer button {
  display: flex;
  align-items: center;
}
.Admin .location-info table {
  position: relative;
}
.Admin .location-info thead {
  background: rgb(243, 69, 69);
  color: white;
}
.Admin .location-info th {
  padding: 10px 40px;
}

.Admin .location-info td {
  text-align: center;
  padding: 30px;
}
.Admin .location-info img {
  width: 50px;
  border-radius: 10px;
}

.Admin .location-info .btn-delete {
  background: red;
  padding: 5px 30px;
  border: none;
  color: white;
  width: 200px;
}
.Admin .location-info .btn-edit {
  background: rgb(37, 28, 215);
  padding: 5px 30px;
  border: none;
  color: white;
  width: 200px;
  margin: 2px 0;
}
.Admin .location-info .btn-detail {
  background-color: #d9d9d9;
  margin-top: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  padding: 5px 30px;
  border: none;
  color: black;
  width: 200px;
}
.Admin .location-info .ant-pagination {
  display: flex;
  right: 0;
  position: absolute;
  margin-top: -10px;
}

.Admin .location-info .ant-input-group-wrapper {
  margin: 10px 0;
}
